@font-face {
  font-family: "Mont";
  src: url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b52d95ef355ea410be_Mont-Bold.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b55a7df3634d5c9761_Mont-Bold.woff")
      format("woff"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b44c7562e5c069cfde_Mont-Bold.ttf")
      format("truetype"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b4e46cb9b6561b5b44_Mont-Bold.otf")
      format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b54af01db36da4bb5b_Mont-BoldItalic.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b5e46cb908e21b5b4d_Mont-BoldItalic.woff")
      format("woff"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b42d95efe9b3a410b8_Mont-BoldItalic.ttf")
      format("truetype"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b42fb4222dd81cf590_Mont-BoldItalic.otf")
      format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Mont";
  src: url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b52d4d5f2632bcba5e_Mont-SemiBold.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b59e8b239133d57a3a_Mont-SemiBold.woff")
      format("woff"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b52d95ef0a38a410bd_Mont-SemiBold.ttf")
      format("truetype"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b5179853e7f42c7711_Mont-SemiBold.otf")
      format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b52fb4225a641cf596_Mont-SemiBoldItalic.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b52fb422497f1cf595_Mont-SemiBoldItalic.woff")
      format("woff"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b5e46cb9ee401b5b4a_Mont-SemiBoldItalic.ttf")
      format("truetype"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b5e46cb97bc81b5b4b_Mont-SemiBoldItalic.otf")
      format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Mont";
  src: url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b54c7562125769cfe9_Mont-Regular.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b54c7562ed9069cfe8_Mont-Regular.woff")
      format("woff"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b52d4d5fad1cbcba5b_Mont-Regular.ttf")
      format("truetype"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b4e46cb984591b5b49_Mont-Regular.otf")
      format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b55a7df30a865c9766_Mont-RegularItalic.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b59e8b2311fad57a39_Mont-RegularItalic.woff")
      format("woff"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b59e8b23bc32d57a36_Mont-RegularItalic.ttf")
      format("truetype"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b55062a09b61953d27_Mont-RegularItalic.otf")
      format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Mont";
  src: url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b52d95ef0f84a410c2_Mont-LightItalic.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b55062a038ce953d29_Mont-ExtraLightItalic.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b55062a07a54953d2c_Mont-LightItalic.woff")
      format("woff"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b59e8b2366c5d57a38_Mont-ExtraLightItalic.woff")
      format("woff"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b49e8b23dd7dd57a35_Mont-LightItalic.ttf")
      format("truetype"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b4e46cb91cf31b5b47_Mont-ExtraLightItalic.ttf")
      format("truetype"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b42d4d5f3b8ebcba5a_Mont-LightItalic.otf")
      format("opentype"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b45a7df319d45c975f_Mont-ExtraLightItalic.otf")
      format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Mont";
  src: url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b55062a08fb0953d2b_Mont-Light.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b55a7df363ff5c9762_Mont-ExtraLight.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b52d95ef11faa410c1_Mont-Light.woff")
      format("woff"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b52d95ef5c7ba410c0_Mont-ExtraLight.woff")
      format("woff"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b44c7562dfe869cfe1_Mont-Light.ttf")
      format("truetype"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b4e46cb909d61b5b46_Mont-ExtraLight.ttf")
      format("truetype"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b44c75623bdb69cfe0_Mont-Light.otf")
      format("opentype"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b42d4d5fddd5bcba59_Mont-ExtraLight.otf")
      format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b54af01d062fa4bb5c_Mont-BookItalic.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b52fb42219011cf593_Mont-BookItalic.woff")
      format("woff"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b4e46cb9c1881b5b45_Mont-BookItalic.ttf")
      format("truetype"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b49e8b236c9bd57a34_Mont-BookItalic.otf")
      format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Mont book";
  src: url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b52d4d5f3c18bcba5c_Mont-Book.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b44c7562785e69cfdf_Mont-Book.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b55a7df3e7c15c9767_Mont-Thin.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b52fb4225f731cf597_Mont-Thin.woff")
      format("woff"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b54c7562848669cfe2_Mont-Thin.ttf")
      format("truetype"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b51798534ea62c7712_Mont-Thin.otf")
      format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b5e46cb90e221b5b4e_Mont-ThinItalic.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b517985311a42c7717_Mont-ThinItalic.woff")
      format("woff"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b52fb422c6611cf592_Mont-ThinItalic.ttf")
      format("truetype"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b54af01d3613a4bb59_Mont-ThinItalic.otf")
      format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Mont";
  src: url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b52d95ef6847a410bf_Mont-Book.woff")
      format("woff"),
    url("https://assets.website-files.com/5bd27c9d8bfa53d24b59dda4/5bd9f1b45a7df328825c975e_Mont-Book.otf")
      format("opentype");
  font-weight: 300;
  font-style: normal;
}
